@font-face{
	font-family:"Mission Gothic Light";
	src:url("../fonts/Mission Gothic Light.otf") 
		format("opentype");
}
@font-face{
	font-family:"Mission Gothic";
	src:url("../fonts/Mission Gothic Regular.otf")
		format("opentype");
}