.pretty-text{
	padding:60px 0 80px 0;
}
.pretty-text.odd{
	background-image: url("../images/services-background-f4635b43.png");
}
.pretty-text h1,
.pretty-text h2,
.pretty-text h3,
.pretty-text h4,
.pretty-text h5,
.pretty-text h6{
	-webkit-font-smoothing:antialiased;
	text-shadow:1px 1px 1px rgba(0,0,0,0.004);
	font-family:'Mission Gothic';
}
.pretty-text h1,
.pretty-text h2,
.pretty-text h3{
	margin-top:30px;
	margin-bottom:20px;
}
.pretty-text h1{
	font-size:38px;
}
.pretty-text h1,
.pretty-text h2{
	font-style:italic;
	text-transform:uppercase;
	color: #000;
}
.pretty-text h3{
	color:#f04849;
	text-transform:uppercase;
	font-weight:bold;
	font-size:18px;
}
.pretty-text p{
	font-family:'Mission Gothic Light';
	font-size:16px;
	margin-bottom:30px;
}
.pretty-text p strong{
	font-family:'Mission Gothic';
}
.pretty-text strong{
	font-weight:700;
}
.pretty-text a{
	color:#f04849;
}
.footer{
	background:#242424;
	color:#939393;
	padding-top:60px;
	padding-bottom:40px;
	border-bottom:50px solid #000;
}
.footer .footer-nav li{
	margin-bottom:5px;
}
.footer .footer-nav a{
	text-transform:uppercase;
	font-family:'Mission Gothic', sans-serif;
	font-weight:normal;
	font-size:13px;
}
.footer .sn a{
	display:block;
}
.footer .sn li{
	display:inline-block;
	margin-right:5px;
}
.footer .sn li:hover{
	opacity:.9;
}
.footer .sn .facebook, .footer .sn .github, .footer .sn .twitter{
	text-indent:-119988px;
	overflow:hidden;
	text-align:left;
	background-repeat:no-repeat;
	background-position:50% 50%;
	width:30px;
	height:30px
}
.footer .sn .facebook{
	background-image:url("../images/sn-facebook-47838955.png");
}
.footer .sn .github{
	background-image:url("../images/sn-github-bc0645b2.png");
}
.footer .sn .twitter{
	background-image:url("../images/sn-twitter-739983f2.png");
}
.footer ul{
	list-style:none;
	list-style-position:inside;
}
.footer a{
	color:#939393;
}
.footer a:hover{
	color:#f04849; 
	text-decoration:none;
}