<li class="services-summary-list__item">
  <div class="service-summary service-summary--<%= service_summary.type %>">
    <h3 class="service-summary__title">
      <%= service_summary.title %>
    </h3>
    <p class="service-summary__description">
      <%= service_summary.description %>
    </p>
    <%= link_to service_summary.call_to_action_text, service_summary.call_to_action_link, class: "service-summary__call-to-action" %>
  </div>
</li>
