$body-color: rgb(147, 147, 147);
$body-background-color: rgb(36, 36, 36);
$link-color: $body-color;
$link-color--active: $guava-1;
$feed-item-border-color: rgb(66, 66, 66);
$social-facebook-url: "sn-facebook.png";
$social-github-url: "sn-github.png";
$social-twitter-url: "sn-twitter.png";
$made-by-background-color: rgb(19, 19, 19);
$made-by-link-color: rgb(195, 195, 195);

.footer {
  color: $body-color;
}

.footer__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 $gutter;
  background-color: $body-background-color;

  @media (min-width: $screen-sm-min) {
    height: 230px;
  }
}

.footer__link {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-color--active;
    text-decoration: none;
  }
}

.footer__site-nav {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;
  }
}

.footer__site-link {
  font-weight: normal;
  text-transform: uppercase;

  & +
  & {
    margin-top: 5px;
  }
}

.footer__feed-nav {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-direction: column;
  }
}

.footer__feed-nav-title {
  font-weight: bold;
  text-transform: uppercase;
}

.footer__feed-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__feed-item {
  padding: 5px;
  border-bottom: 1px solid $feed-item-border-color;
}

.footer__feed-link {
  @include text-overflow;
  display: inline-block;
  max-width: 250px;
  font-style: italic;
  font-weight: 300;
}

.footer__social-networks {
  display: inline-flex;
}

.footer__social-network {
  display: inline-block;

  &:focus,
  &:hover {
    opacity: .9;
  }

  & +
  & {
    margin-left: $gutter;
  }
}

.footer__social-network--facebook {
  @include replace-text-with-dimensions($social-facebook-url);
}

.footer__social-network--github {
  @include replace-text-with-dimensions($social-github-url);
}

.footer__social-network--twitter {
  @include replace-text-with-dimensions($social-twitter-url);
}

.footer__made-by {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 0 $gutter;
  background-color: $made-by-background-color;

  @media (min-width: $screen-sm-min) {
    justify-content: flex-end;
    height: 60px;
  }
}

.footer__made-by-link {
  font-weight: 100;
  text-transform: uppercase;

  &,
  &:hover,
  &:focus {
    color: $made-by-link-color;
    text-decoration: none;
  }
}
