$background-image-size: 80px
$gutter--double: $gutter * 2

.services-summary-list-wrapper
  display: none

  @media (min-width: $screen-sm-min)
    display: block

.service, .case
  padding: ($background-image-size + $gutter--double) $gutter--double 0
  text-align: center
  background-size: $background-image-size
  background-position: center top
  background-repeat: no-repeat

  &__content-wrapper
    display: flex

  &__title + &__content-wrapper
    margin-top: $gutter--double

  &__content
    display: flex
    flex-direction: column
    flex-grow: 1

  &__content + &__indicator
    @media (min-width: $screen-sm-min)
      margin-left: $gutter

  &__indicator
    display: none

    @media (min-width: $screen-sm-min)
      display: flex
      justify-content: center
      align-items: center

  &__description + &__description,
  &__description + &__description-and-quote-wrapper,
  &__description-title + &__description-content,
  &__title + &__call-to-action,
    margin-top: $gutter

  &__title
    margin: 0
    font-size: 24px
    text-transform: uppercase
    font-weight: normal

    @media (min-width: $screen-sm-min)
      font-size: 46px

  &__description
    @media (min-width: $screen-sm-min)
      text-align: left

  &__description-title
    margin: 0

  &__description-content
    margin-bottom: 0

    &--highlight
      @media (min-width: $screen-sm-min)
        font-size: 24px

  &__call-to-action
    display: inline-block
    padding: 10px 30px
    font-weight: 300
    text-align: center
    text-transform: uppercase
    background-color: $lightgray
    border-radius: 3px

    &,
    &:hover,
    &:focus
      color: $white
      text-decoration: none

    &--process
      background-color: $guava

  &__description-and-quote-wrapper
    @media (min-width: $screen-sm-min)
      display: flex

  &__description-and-quote-description + &__description-and-quote-quote
    margin-left: $gutter

  &__description-and-quote-description
    flex-grow: 1

  &__description-and-quote-quote
    display: none

    @media (min-width: $screen-sm-min)
      display: block

  &__content-wrapper + &__call-to-actions
    margin-top: $gutter

  &__call-to-actions
    display: none

    @media (min-width: $screen-sm-min)
      display: block

  &__call-to-action-action
    width: 225px

    & + &
      margin-left: $gutter

  &__call-to-actions + &__clients
    margin-top: $gutter--double
    padding: $gutter--double 0 0
    border-top: 1px solid $gray-3

  &__clients
    display: none

    @media (min-width: $screen-sm-min)
      display: block

  &__clients-title + &__clients-list
    margin-top: $gutter

  &__clients-list
    display: flex
    justify-content: space-around
    list-style: none
    margin: 0
    padding: 0
