.service-page {
  .service-section {
    padding: 60px 0 80px 0;

    &.odd {
      background-image: url("../img/services-background.png");
    }
  }

  .lead {
    margin-bottom: 75px;
  }

  .ruler {
    border-top: 1px solid $gray-3;
    margin-top: 60px;
  }

  .clients-portfolio {
    padding-top: 40px;
  }

  .call-to-action {
    .btn {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $screen-md-min) {
    .call-to-action {
      .btn {
        margin-bottom: 0;
      }
    }
  }

  .service-icon {
    &:before {
      content: " ";
      display: block;
      width: 83px;
      height: 82px;
      margin: 0 auto 40px auto;
    }
  }

  .service-enterprise {
    &:before {
      background: url("../img/icon-small_13.png");
    }
  }

  .service-startup {
    &:before {
      background: url("../img/icon-small_03.png");
    }
  }
}
