/*
 * = require fonts
 */

@import "font-awesome";
@import "compass";
@import "vars";
@import "bootstrap_override";

@import "layout";
@import "footer";
@import "hero";
@import "buttons";
@import "main";
@import "service";
@import "section";
@import "carousel";
@import "services-summary";
@import "clients-summary";
@import "core-values/index";
@import "header";
@import "aside-nav";
@import "nav-bar";
@import "indicators";

.section-title {
  color: $lightgray;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 0;

  &:before {
    content: "//";
  }
}

p {
  font-weight: 300;
  color: rgb(89, 89, 89);
}

.services {
  background-color: rgb(245, 245, 245);
  background: url("../img/services-background.png");
  padding-bottom: 85px;
  padding-top: 60px;
  margin-top: -20px;

  ul {
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      margin-top: 30px;
    }
  }

  p {
    text-align: center;
    padding: 0 15px;
  }

  .service-btn {
    font-weight: 300;
    font-style: italic;
    font-size: .9em;
    color: rgb(89, 89, 89);
    text-transform: uppercase;
    border: 1px solid rgb(120,120,120);
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    margin: 0 25px;

    .borderradius & {
      @include border-radius(2px);
    }

    &:hover {
      text-decoration: none;
    }
  }

  .service-title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;

    strong {
      font-weight: bold;
    }
  }

  .service-dds {
    background: url("../img/service-dds.png") no-repeat center top;
    padding-top: 130px;

    .service-btn {
      margin-top: 30px;
    }
  }

  .service-enterprise {
    background: url("../img/service-enterprise.png") no-repeat center top;
    padding-top: 130px;

    .service-btn {
      margin-top: 25px;
    }
  }

  .service-redu {
    padding-top: 130px;
    .service-btn {
      margin-top: 70px;
    }
  }
}

.clients {
  padding-top: 80px;
  padding-bottom: 80px;

  .client-name {
    font-weight: bold;
    font-size: 2.7em;
    text-transform: uppercase;
    color: $guava;
  }

  .client-pitch {
    font-size: 1.1em;
  }

  .role {
    color: black;
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .quote {
    border: none;
    border-top: 3px solid rgb(242,242,242);
    border-bottom: 3px solid rgb(242,242,242);
    overflow: hidden;
    text-align: center;

    font-size: 1.1em;
    font-style: italic;
    color: $lightgray;

    .quote-author-image {
      width: 90px;
      height: 90px;
      margin-right: 20px;
      vertical-align: middle;
      float: none;
      display: none;

      .borderradius & {
        @include border-radius(90px);
      }

      @media (min-width: $screen-md-min) {
        float: left;
        display: block;
      }
    }

    .quote-author {
      display: block;
      margin-top: 5px;
      font-size: .9em;
      font-style: normal;
    }

    strong {
      color: black;
    }

    @media (min-width: $screen-md-min) {
      text-align: left;
    }
  }

  .client-image {
    margin: 0 auto;
    display: block;
  }
}
