@import "compass";
@import "vars";

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
  horizontally within the column  */
}

.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(210, 211, 212);

  .boxshadow & { @include box-shadow(rgb(210, 211, 212) 0 1px 10px); }
  .borderradius & { @include border-radius(0); }

  .navbar-container {
    padding: 0 50px;
  }

  .navbar-header {
    margin: 15px 0;

    .navbar-brand {
      @include replace-text('logo-navbar.png');
      width: 128px;
      height: 58px;
    }
  }

  .navbar-nav {
    font-weight: 300;
    font-size: 1.2em;
    margin: 15px 0;
    text-transform: uppercase;

    li {
      padding: 16px;

      a {
        background-color: transparent !important;
        padding: 3px 0;
        color: black;
      }

      &:hover {
        a { color: #8d8d8d; }
      }

      &.active a {
        color: black;
        border-bottom: 3px solid $guava;
      }
    }
  }
}
