@import "compass/typography/text/replacement";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "vars";

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
  horizontally within the column  */
}

.hero {
  width: 100%;
  background: url("/img/hero-backdrop.png");

  .logo-hero {
    @include replace-text-with-dimensions('logo-hero.png');
    float: right;
  }

  .call {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    font-family: 'Mission Gothic Light';
    font-style: italic;
    font-size: 23px;
    text-transform: uppercase;
    line-height: 130%;
    color: white;

    strong {
      font-family: 'Mission Gothic';
      font-weight: bold;
    }
  }

  position: relative;

  .go-to-site-wrapper {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
  }

  .go-to-site {
    @include replace-text-with-dimensions('hero-link.png');
    display: block;
    margin: 0 auto;
  }
}

.navbar {
  background-color: white;
  border-bottom: 1px solid rgb(210, 211, 212);

  .boxshadow & { @include box-shadow(rgb(210, 211, 212) 0 1px 10px); }
  .borderradius & { @include border-radius(0); }

  .navbar-container {
    padding: 0 50px;
  }

  .navbar-header {
    margin: 15px 0;

    .navbar-brand {
      @include replace-text('logo-navbar.png');
      width: 128px;
      height: 58px;
    }
  }

  .navbar-nav {
    font-family: 'Mission Gothic Light';
    font-size: 1.2em;
    margin: 15px 0;
    text-transform: uppercase;

    li {
      padding: 16px;

      a {
        background-color: transparent !important;
        padding: 3px 0;
        color: black;
      }

      &:hover {
        a { color: #8d8d8d; }
      }

      &.active a {
        color: black;
        border-bottom: 3px solid $guava;
      }
    }
  }
}
