$process-hero-background-color: rgba(240, 72, 73, .4)
$process-hero-background-image: '../img/process-intro-background-image.png'
$process-hero__title-color: $white

.process-hero
  display: flex
  align-items: center
  justify-content: center
  padding: 0 50px
  height: $phone-width
  background-image: linear-gradient($process-hero-background-color, $process-hero-background-color), url($process-hero-background-image)
  background-size: cover

  @media (min-width: $screen-sm-min)
    height: +image-height($process-hero-background-image) / 2

  &__title
    margin: 0
    color: $process-hero__title-color
    font-size: 27px
    font-style: normal
    font-weight: bold
    text-align: center
    text-transform: uppercase
    text-shadow: 1px 2px 3px rgb(44, 44, 44)

    @media (min-width: $screen-sm-min)
      font-size: 55px


// Process Intro

$process-intro__title-color: $guava

.process-intro
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0 $gutter

  @media (min-width: $screen-sm-min)
    padding: 0 20%

  &__title
    margin: 0
    font-size: 23px
    font-weight: 300
    color: $process-intro__title-color
    text-align: center
    text-transform: none

    @media (min-width: $screen-sm-min)
      font-size: 36px

  &__title + &__content
    margin-top: $gutter

  &__content
    margin: 0
    text-align: center


// Process footer

$process-footer-background-image: '../img/hero-backdrop.png'

.process-footer
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0 $gutter
  text-align: center
  background-image: url($process-footer-background-image)

  @media (min-width: $screen-sm-min)
    padding: ($gutter * 2) 20%


// Methodology Steps

$methodology-steps__item-dimension: 30px
$methodology-gutter: $gutter * 2

.methodology-steps
  list-style: none
  margin: 0
  padding: 0

  &__wrapper
    padding: 0 $gutter

  &__item
    position: relative
    counter-increment: step-counter

    & + &
      margin-top: $methodology-gutter

    &:before
      position: absolute
      z-index: $z-index--methodology-steps-item
      top: $methodology-steps__item-dimension / 2
      left: $methodology-steps__item-dimension / 2
      display: flex
      align-items: center
      justify-content: center
      width: $methodology-steps__item-dimension
      height: $methodology-steps__item-dimension
      content: counter(step-counter)
      color: $white
      background-color: $guava
      border-radius: 50%

  &__background
    position: absolute
    width: 50%
    height: calc(100% + #{$methodology-gutter})
    border-right: 3px solid $gray-3
    z-index: $z-index--methodology-steps-background
    top: 0


$methodology-step__link--step-background-color: rgba(44, 44, 44, .5)
$methodology-step__link--step-1-background-image: '../img/methodology-step__link--step-1-background-image.png'
$methodology-step__link--step-2-background-image: '../img/methodology-step__link--step-2-background-image.png'
$methodology-step__link--step-3-background-image: '../img/methodology-step__link--step-1-background-image.png'
$methodology-step__link--step-4-background-image: '../img/methodology-step__link--step-2-background-image.png'
$methodology-step__link--step-5-background-image: '../img/methodology-step__link--step-1-background-image.png'

$methodology-step: '.methodology-step'
#{$methodology-step}
  position: relative
  z-index: $z-index--methodology-step

  &.is-open
    #{$methodology-step}__caret
      transform: rotate(180deg)

  &__link
    display: flex
    align-items: center
    justify-content: space-between
    height: 60px
    padding: 0 $gutter 0 ($gutter * 2 + $methodology-steps__item-dimension)
    background-size: cover

    &:hover,
    &:focus
      text-decoration: none

    &--step-1
      background-image: linear-gradient($methodology-step__link--step-background-color, $methodology-step__link--step-background-color), url($methodology-step__link--step-1-background-image)

    &--step-2
      background-image: linear-gradient($methodology-step__link--step-background-color, $methodology-step__link--step-background-color), url($methodology-step__link--step-2-background-image)

    &--step-3
      background-image: linear-gradient($methodology-step__link--step-background-color, $methodology-step__link--step-background-color), url($methodology-step__link--step-3-background-image)

    &--step-4
      background-image: linear-gradient($methodology-step__link--step-background-color, $methodology-step__link--step-background-color), url($methodology-step__link--step-4-background-image)

    &--step-5
      background-image: linear-gradient($methodology-step__link--step-background-color, $methodology-step__link--step-background-color), url($methodology-step__link--step-5-background-image)


  &__name
    margin: 0
    color: $white
    font-size: 16px
    font-weight: 400
    font-style: italic

  &__caret
    color: $gray-3
    font-size: 40px
    transition: transform .3s ease-in-out

  &__content
    padding: $gutter
    text-align: center
    background-color: rgb(250, 250, 250)

    p
      margin-bottom: 0

    p + p
      margin-top: $gutter

  &__content + &__outputs
    margin-top: $methodology-gutter

  &__outputs
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0
    padding: 0
    list-style: none

  &__outputs-item
    display: flex
    justify-content: center

    & + &
      margin-top: $gutter

  $icon-wrapper-border-width: 5px
  $icon-wrapper-height: 40px

  &__outputs-icon-wrapper
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: $icon-wrapper-height
    height: $icon-wrapper-height
    border-radius: 50%
    background-color: $guava
    border: $icon-wrapper-border-width solid rgba(240, 72, 73, .5)
    background-clip: content-box
    box-sizing: content-box

  &__outputs-icon
    width: 30px
    height: 20px
    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat

    &--roadmap
      background-image: url('../img/output__roadmap.png')

    &--backlog
      background-image: url('../img/output__backlog.png')

    &--data
      background-image: url('../img/output__data.png')

    &--graphic-interface
      background-image: url('../img/output__graphic-interface.png')

    &--implemented-metrics
      background-image: url('../img/output__implemented-metrics.png')

    &--metrics
      background-image: url('../img/output__metrics.png')

    &--screencast
      background-image: url('../img/output__screencast.png')

    &--functionality
      background-image: url('../img/output__functionality.png')

  &__outputs-content-wrapper
    position: absolute
    top: -$icon-wrapper-border-width
    left: 120%
    display: flex
    flex-direction: column
    justify-content: center
    width: 115px
    height: $icon-wrapper-height + 2 * $icon-wrapper-border-width

  &__outputs-name
    font-size: 16px
    font-weight: 300
    color: $guava
    text-transform: uppercase

  // &__outputs-name + &__outputs-content
  //   margin-top: $gutter / 2

  &__outputs-content
    font-size: 14px
    font-weight: normal
    color: $lightgray



$methodology-iteration-background-image: '../img/methodology-iteration.png'

.methodology-iteration
  display: flex
  align-items: center
  justify-content: center
  height: +image-height($methodology-iteration-background-image)
  font-size: 16px
  text-transform: uppercase
  background-image: url($methodology-iteration-background-image)
  background-repeat: no-repeat
  background-position: 50% 0

  .methodology-steps + &
    margin-top: $methodology-gutter - 5px
