<% hero = data.hero %>

<div class="hero">
  <div class="hero__body">
    <h1 class="hero__logo">Eloquent Studio</h1>
    <em class="hero__content"><%= hero.content %></em>
  </div>
  <div class="hero__go-to-site-wrapper">
    <% go_to_site_text = hero.go_to_site %>
    <%= link_to go_to_site_text, "#site", class: "hero__go-to-site js-smooth-scrolling", title: go_to_site_text %>
  </div>
</div>
