<div class="container-fluid hero full-height hidden-sm hidden-xs">
  <div class="full-height row vertical-align">
    <div class="col-sm-4 col-sm-offset-1">
      <h1 class="logo-hero">Eloquent Studio</h1>
    </div>
    <h3 class="call col-sm-6">
      <em>Olá, nós somos Eloquent. Somos uma empresa de <strong>Designers</strong>, <strong>Hackers</strong> e <strong>Empreeendedores experientes</strong> capazes de construir aplicações para negócios ambiciosos.</em>
    </h3>

    <div class="go-to-site-wrapper">
      <%= link_to "Ir para o site", "#site", class: "go-to-site" %>
    </div>
  </div>
</div>
