- hero = data.hero
  
.hero
  .hero__body
    %h1.hero__logo Eloquent Studio
    %em.hero__content= hero.content
  .hero__go-to-site-wrapper
    - go_to_site_text = hero.go_to_site
    = link_to go_to_site_text, "#site", class: "hero__go-to-site js-smooth-scrolling", title: go_to_site_text
