---
title: Eloquent Studio
---

<%= partial "partials/nav" %>

<div class="container-fluid" id="trabalhamos">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h2>Tire suas idéias do papel</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>De hipóteses a produtos</h2>
			<p>Numa startup, aprendizado validado é a medida de sucesso. É este aprendizado que indica o quão replicável e escalável será modelo de negócio. Com a experiência de quem já empreendeu, criamos um processo que, seguindo as premissas do Lean Startup, permite que suas hipóteses sejam transformadas em produtos e, muito mais importante, em aprendizado para o seu negócio.</p>
			<p>O seu produto será construído de forma incremental. Isso quer dizer que entregaremos uma versão funcional após um período curto de desenvolvimento. Dessa forma estamos preparados para mudanças de escopo e objetivos.</p>
		</div>
	</div>
</div>

<div class="container-fluid gray" id="metodologia">
	<section class="row">
		<div class="col-sm-12">
			<h2>Metodologia</h2>
		</div>
		<div class="col sm-12">
			<h2 class="number">1</h2>
			<h2 class="texto-trabalho">
				Análise do Negócio
			</h2>
			<p>Esta fase tem como objetivo identificar e entender o objetivo geral do projeto, e criar um alinhamento entre o cliente e a equipe de desenvolvimento. Além disso, esta será a primeira oportunidade para, dado o objetivo macro, possibilitar a priorização de objetivos específicos.</p>
		</div>
	</section>
</div>	