---
title: Eloquent Studio
---

<%= partial "partials/nav" %>

<div id="contato" class="container-fluid">

	<div class="row">

		<div class="col-xs-4">
			<h3>Manda um <strong>alô</strong> pra gente!</h3>
		</div>

		<div class="col-xs-8">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nome">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="renata@folks.com.br">
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="4" placeholder="Mensagem"></textarea>
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
		</div>

	</div>

</div>

<div id="localizacao" class="container">
	
	<div class="row">
		
		<div class="col-xs-3">
		
			<h3>Recife</h3>

		</div>

		<div class="col-xs-3 col-xs-offset-6">
			
			<h3>Miami</h3>

		</div>

	</div>

</div>

<div id="mapa" class="container">
	
	<div class="row">
		
		<div class="col-xs-12">
			
			
		</div>

	</div>

</div>