---
title: HTML5 Boilerplate Middleman
---

<div class="container-fluid">
  <section class="services row">
    <div class="col-sm-12">
      <h2 class="section-title col-sm-12 col-sm-push-1">O que fazemos?</h2>
      <ul>
        <li class="col-sm-4 service-dds">
          <h2 class="service-title"><strong>Desgin</strong> e <strong>Desenvolvimento</strong> para <strong>Startups</strong></h2>
          <p>
            Nós transformamos sua visão em produtos excepcionais, utilizando práticas e processos enxutos.
          </p>
          <%= link_to "Criação de produtos escaláveis", '#', class: 'service-btn ' %>
        </li>
        <li class="col-sm-4 service-enterprise">
          <h2 class="service-title"><strong>Agilidade</strong> em grandes <strong>empresas</strong></h2>
          <p>
            Seja mais competitivo através da melhoria de processos de desenvolvimento.
          </p>
          <%= link_to "Empresas estabelecidas que querem melhorar um produto já existente.", '#', class: 'service-btn' %>
        </li>
        <li class="col-sm-4 service-redu">
          <h2 class="service-title">Implantação do <strong>Redu</strong></h2>
          <p>
            Ambiente motivador para cursos a distância
          </p>
          <%= link_to "Criação de produtos escaláveis", "#", class: 'service-btn' %>
        </li>
      </ul>
    </div>
  </section>
</div>
