---
title: Eloquent Studio
---

<%= partial "partials/nav" %>

<div class="container-fluid">
  <section class="services row">
    <div class="col-sm-12">
      <ul>
        <li class="col-sm-4 service-dds">
          <h2 class="service-title"><strong>Design</strong> e <strong>Desenvolvimento</strong> para <strong>Startups</strong></h2>
          <a class="service-btn-alt" href="#">Descubra Mais</a>
        </li>
        <li class="col-sm-4 service-enterprise">
          <h2 class="service-title"><strong>Agilidade</strong> em grandes <strong>empresas</strong></h2>
          <a class="service-btn-alt" href="#">Descubra Mais</a>
        </li>
        <li class="col-sm-4 service-redu">
          <h2 class="service-title">Implantação do <strong>Redu</strong></h2>
          <a class="service-btn-alt" href="#">Descubra Mais</a>
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<img src="../images/service-dds.png">
			<h3>Design e Desenvolvimento para Startups</h3>
		</div>
		<div class="col-sm-12">
			<h4>Processos Enxutos</h4>
			<p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. Antes mesmo de construir determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir este conjunto de métricas. Todas as funcionalidades criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto.</p>
		</div>
		<div class="col-sm-7">
			<h4>Conhecimento de quem aprendeu na prática</h4>
			<p>Todas as pessoas do nosso time já possuiram ou trabalharam em startups. Somos empreendedores e conosco você estará aproveitando as habilidades de quem já sentiu na pele o que significa construir produtos em ambientes onde a incerteza e mudança são constantes.</p>
		</div>
		<div class="col-sm-5 quote">
			QUOTE ICON
			<p>We are entering an era  where the dominant question that innovators are facing isn’t “can something be built” but “should it be built”.</p>
			<p>Eric Ries</p>
		</div>
		<div class="col-sm-12 text-center">
			<a href="como-trabalhamos.html" class="btn-cta-red">Como Trabalhamos</a>
			<a href="contato.html" class="btn-cta-black">Entre em contato conosco</a>
		</div>
	</div>
	<div class="row clientes">
		<div class="col-sm-12 text-center">
			<h5>//Clientes</h5>
		</div>
		<div class="col-sm-12">
			
		</div>
	</div>
</div>

<div class="container-fluid">
	<section class="gray">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<img src="../images/service-dds.png">
					<h3>Design e Desenvolvimento para Startups</h3>
				</div>
				<div class="col-sm-12">
					<h4>Processos Enxutos</h4>
					<p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. Antes mesmo de construir determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir este conjunto de métricas. Todas as funcionalidades criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto.</p>
				</div>
				<div class="col-sm-12 text-center">
					<a href="como-trabalhamos.html" class="btn-cta-red">Como Trabalhamos</a>
					<a href="contato.html" class="btn-cta-black">Entre em contato conosco</a>
				</div>
			</div>
			<div class="row clientes">
				<div class="col-sm-12 text-center">
					<h5>//Clientes</h5>
				</div>
				<div class="col-sm-12">

				</div>
			</div>
		</div>
	</section>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<img src="../images/service-dds.png">
			<h3>Design e Desenvolvimento para Startups</h3>
		</div>
		<div class="col-sm-12">
			<h4>Processos Enxutos</h4>
			<p>Um conceito que é importante para startups é o de aprendizado validado. Startups são organizações que precisam construir modelos de negócios replicáveis e escaláveis dentro de condições de extrema incerteza. Neste contexto é importante qu e os empreendedores sejam capazes de perceber, numa escala pequena, se o modelo proposto é realmente escalável. Uma forma de adquirir este aprendizado é através de métricas. Antes mesmo de construir determinada funcionalidade do produto, é importante que sejam definidas métricas tangíveis do objetivo daquela funcionalidade.Nós iremos ajudar a você a definir este conjunto de métricas. Todas as funcionalidades criadas pelo nosso time são construídas e entregues juntamente com um painel de suporte onde você poderá acompanhar o progresso do seu produto.</p>
		</div>
		<div class="col-sm-7">
			<h4>Conhecimento de quem aprendeu na prática</h4>
			<p>Todas as pessoas do nosso time já possuiram ou trabalharam em startups. Somos empreendedores e conosco você estará aproveitando as habilidades de quem já sentiu na pele o que significa construir produtos em ambientes onde a incerteza e mudança são constantes.</p>
		</div>
		<div class="col-sm-5 quote">
			QUOTE ICON
			<p>We are entering an era  where the dominant question that innovators are facing isn’t “can something be built” but “should it be built”.</p>
			<p>Eric Ries</p>
		</div>
		<div class="col-sm-12 text-center">
			<a href="como-trabalhamos.html" class="btn-cta-red">Como Trabalhamos</a>
			<a href="contato.html" class="btn-cta-black">Entre em contato conosco</a>
		</div>
	</div>
	<div class="row clientes">
		<div class="col-sm-12 text-center">
			<h5>//Clientes</h5>
		</div>
		<div class="col-sm-12">
			
		</div>
	</div>
</div>