---
title: Eloquent Studio
---

<%= partial "partials/nav" %>

<div id="valores" class="container-fluid">

	<div class="row">

		<div class="col-sm-6">
			<%= image_tag 'valores-main.jpg', :class => 'img-responsive' %>
		</div>

		<div class="col-sm-6">
			<div class="row">
				<div id="bg-red" class="col-sm-12">
					<h3>Comprometida</h3>
					<p>Pois nós lutamos as batalhas dos nossos clientes. <br>
					   Por isso é importante que os objetivos e propósitos dos nossos clientes estejam alinhados com o que consideramos certo.</p>
				</div>
				<div class="col-sm-12">
					<%= image_tag 'valores-sec.jpg', :class => 'img-responsive' %>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h3>Ágil</h3>
		</div>
	</div>
</div>